# common
NODE_ENV=production
PORT=3001

# db
DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=learnbase
DATABASE_USERNAME=admin
DATABASE_PASSWORD=changeme
DATABASE_URL=postgresql://admin:changeme@db:5432/learnbase?schema=public

# backend
HASH_SALT=changeme
FRONTEND_URL=http://localhost:3000 # Frontend URL for CORS
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=7d
SEED_ADMIN_PASSWORD=changeme
SEED_AUTHOR_PASSWORD=changeme
SEED_STUDENT_PASSWORD=changeme

# admin app
VITE_IS_DEV=false
VITE_BACKEND_URL=https://api.learnbase.example

# client app
NEXT_PUBLIC_IS_DEV=false
NEXT_PUBLIC_BACKEND_URL=https://api.learnbase.example
